body{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    text-decoration: underline;
}

p{
    display: flex;
    width: max-content;
    justify-content: center;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;/*make the text center*/
    border-radius: 5px;
}

li{
    display: flex;
    margin: 5px;
    padding: 12px;
    width: 100%;
    background-color:rgb(184, 170, 247);
    margin-left: -30px;
    border-radius: 5px;
}

ul :hover{
    cursor: pointer;
    transform:scale(1.1);
    box-shadow: 50px;

}
